.information {
  justify-content: center;
  display: flex;
  align-items: center;
  width: 50%;
  flex-direction: column;
  border-style: solid;
  height: auto;
  padding: 1rem;
  text-align: justify;
  background-color: #c8d1c5f7;
}

.content_home {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 345px) {
  .content_home {
    padding-top: 2rem;
  }
}


