<div class="body_table content_home">
  <div class="information">
    <img src="assets/images/Logo-Hogwarts.png" height="150rem">
    <h1>Bienvenidos a Hogwarts</h1>
    <p>Hogwarts es un colegio para brujas y magos al que se accede tras recibir una invitación que entrega un búho. Hay
      ciento cuarenta y dos escaleras que se mueven como si tuvieran vida propia. Sus fundadores fueron Godric
      Gryffindor,
      Rowena Ravenclaw, Helga Hufflepuff y Salazar Slytherin, en cuyo honor se pusieron nombre a las diferentes
      casas.</p>
  </div>
</div>
