<nav class="nav_body">
  <div class="navbar_content">
    <div class="item_nav" matRipple routerLink="/teachers">
      Profesores
    </div>
    <div class="item_nav" matRipple routerLink="/students">
      Estudiantes
    </div>
  </div>
  <div class="nav_center" routerLink="/home">
    <img src="assets/images/logo.png" height="80%">
  </div>
  <div class="navbar_content">
    <div class="item_nav" matRipple routerLink="/characters">
      Personajes
    </div>
    <div class="item_nav" matRipple>
      Directiva
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

