<mat-form-field appearance="standard" class="table_search">
  <mat-label>Buscar</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Harry Potter" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort *ngIf="arrayData && dataTable">
    <div *ngFor="let column of dataTable">
      <ng-container [matColumnDef]="column.value">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="header_content"> {{column.name}}</th>
        <td mat-cell *matCellDef="let row" class="table_content">
          <img src="{{row[column.value]}}" class="table_img" *ngIf="column.type =='image'; else stringBlock" alt="">
          <ng-template #stringBlock>{{row[column.value] ? row[column.value] : '-'}} </ng-template>
        </td>
      </ng-container>
    </div>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[4]" aria-label="Select page of users"></mat-paginator>
</div>
