table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 30%;
}

td, th {
  width: 25%;
  height: 80px;
}
.table_content{
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  text-transform: capitalize;
}

.table_img{
  height: 100%;
  border-radius: 100px;
  padding: 5px 0 0 0;
}
